@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResources> SharedLocalizer

<ul class="nav navbar-nav navbar-right">
    <li><a asp-controller="Account" asp-action="Register">@SharedLocalizer["Register"]</a></li>
    <li><a asp-controller="Account" asp-action="Login">@SharedLocalizer["LogIn"]</a></li>
</ul>
