@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"];
}
<h2>@ViewData["Title"]</h2>

<address>
    @Localizer["Address"]
</address>

<address>
    <strong>@Localizer["Support"]:</strong> <a href="mailto:Hogwarts@magic.com">Hogwarts@magic.com</a><br />
</address>
